.navbar{
    color: #fff;
    margin-left: 20px;
    width: 90%;
    display: flex;

    .subnav{
        display: flex;
        align-items: center;
      
        .forYou{
            color: #939090;
            position: relative;
            display: flex;
            cursor: pointer;
            align-items: center;
            padding: 0 14px;
            font-weight: 700;
            font-size: 0.875rem;
            letter-spacing: 0.02857em;
              &:hover {
                  color: var(--second-color);
              }
        }   
        .movies{
                color: #939090;
                position: relative;
                display: flex;
                cursor: pointer;
                align-items: center;
                padding: 0 14px;
                font-weight: 700;
                font-size: 0.875rem;
                letter-spacing: 0.02857em;
                 &:hover {
                     color: var(--second-color);
                 }

        }
        .tvSeries{
            color: #939090;
            position: relative;
            display: flex;
            cursor: pointer;
            align-items: center;
            padding: 0 14px;
            font-weight: 700;
            font-size: 0.875rem;
            letter-spacing: 0.02857em;
             &:hover {
                 color: var(--second-color);
             }
        }
    }
    
    
    }
