.navbar{
    color: #fff;
    margin-left: 20px;
    width: 90%;
    display: flex;

    .subnav{
        display: flex;
        align-items: center;
      
        .forYou{
            color: #939090;
            position: relative;
            display: flex;
            cursor: pointer;
            align-items: center;
            padding: 0 14px;
            font-weight: 700;
            font-size: 0.875rem;
            letter-spacing: 0.02857em;
              &:hover {
                  color: var(--second-color);
              }
        }   
        .movies{
                color: #939090;
                position: relative;
                display: flex;
                cursor: pointer;
                align-items: center;
                padding: 0 14px;
                font-weight: 700;
                font-size: 0.875rem;
                letter-spacing: 0.02857em;
                 &:hover {
                     color: var(--second-color);
                 }

        }
        .tvSeries{
            color: #939090;
            position: relative;
            display: flex;
            cursor: pointer;
            align-items: center;
            padding: 0 14px;
            font-weight: 700;
            font-size: 0.875rem;
            letter-spacing: 0.02857em;
             &:hover {
                 color: var(--second-color);
             }
        }
    }
    
    .styleMovie{
        color: #939090;
        position: relative;
        display: flex;
        cursor: pointer;
        width: 105px;
        align-items: center;
        padding: 0 14px;
        font-weight: 700;
        font-size: 0.875rem;
        letter-spacing: 0.02857em;
        .iconup{
            line-height: 48px;
        }
        .icondown{
            line-height: 48px;
            display: none;
        }
        &:hover{
            color: var(--second-color);
            .usermenu{
                display: flex;
                flex-wrap: wrap;

            }
            .iconup{
                display: none;
            }
            .icondown{
                display: block;
            }
        }          
            .usermenu{
                &::before{ 
                    content: "";
                    position: absolute;
                    border-width: 9px 10px;
                    border-style: solid ;
                    border-color: transparent transparent #ccc transparent;
                    top: -18px;
                    right: 322px;
                }
                 &::after {
                     content: "";
                     position: absolute;
                     right: 30px;
                     top: -14px;
                     width: 90%;
                     height: 18px;
                     display: block;
                 }
                display: none;
                z-index: 1;
                position: absolute;
                top: 115%;
                right: -304px;
                background-color: var(--main-color);
                padding: 20px;
                list-style: none;
                width: 400px;
                box-shadow: 0 0 3px #ccc;
                border-radius: 3px;
              span{
                height : 20px;
                color:var(--text-color); ;
                padding : 0 0 33px 0;
                font-weight: 400;
                display: block;
                min-width: 120px;
                text-align: left;
                &:hover{
                    color: var(--second-color);
                }   
              }
            }
        }
    }
