  .genre {
      padding: 5px 0;
      color: #fff;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;

      .genreItem {
          margin: 0;
          font-size: 12px;
          padding: 1px 3px;
          background-color: rgba(0, 0, 0, 0.5);
          margin-right: 5px;
          margin-bottom: 2px;

          &:hover {
              color: var(--second-color);
              cursor: pointer;
          }
      }
  }