    .myaccount{
    display: flex;
    justify-content: space-around;
    .myaccountitem{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding-left: 50px;
        color: #fff;       
        span{
        margin-top:5px ;
        font-size: 14px;
        }  
    }
    .profile{
        position: relative;
        &:hover {
            .userHistory{
                display: block;
            }
            .usermenu {
                display: block;
            }
        }.usermenu{
            display: block;
        }
       
        .usermenu{      
            &::before{ 
                content: "";
                position: absolute;
                border-width: 9px 10px;
                border-style: solid ;
                border-color: transparent transparent #ccc transparent;
                top: -18px;
                right: 62px;
            }
            &::after{ 
                 content: "";
                 position: absolute;
                 right: 10px;
                 top: -14px;
                 width: 90%;
                 height: 18px;
                 display: block;
            }
            display: none;
            z-index: 1;
            position: absolute;
            top: 135%;
            right: -53px;
            background-color: var(--main-color);
            padding-left: 0;
            list-style: none;
            min-width: 220px;
            box-shadow: 0 0 3px #ccc;
            border-radius: 3px;
             .useritemFirst{
                    background: url(//www.iqiyipic.com/lequ/20211013/person-backgroud.png) center center / cover no-repeat;
                    font-size: 16px;
                    height: 80px;
                    
                }
            .useritem{
                padding:5px 10px;
                color: #fff;
                display: flex;
                align-items: center;
                span{
                z-index: 2;
                text-decoration: none;
                font-size: 14px;
                font-weight: 400;
                padding: 12px 12px;
                display: block;
                font-weight: 500;
                // border-bottom: 1px solid var(--second-color);
                }                         
                &:hover{
                color: var(--second-color);
                
                }
            }
        }
        .userHistory {
            &::before {
                content: "";
                position: absolute;
                border-width: 9px 10px;
                border-style: solid;
                border-color: transparent transparent #ccc transparent;
                top: -18px;
                right: 103px;
            }
             &::after {
                 content: "";
                 position: absolute;
                 right: 10px;
                 top: -14px;
                 width: 90%;
                 height: 18px;
                 display: block;
             }
            display: none;
            z-index: 1;
            position: absolute;
            top: 135%;
            right: -91px;
            background-color: var(--main-color);
            padding-left: 0;
            list-style: none;
            width: 250px;
            box-shadow: 0 0 3px #ccc;
            border-radius: 3px;

            .useritem span {
                z-index: 2;
                text-decoration: none;
                font-size: 14px;
                color: #fff;
                font-weight: 400;
                padding: 12px 12px;
                display: block;

                &:hover {
                    color: var(--second-color)
                }
            }
        }
    }
}