.smallCard {
    margin-top:10px;
    height:100px;
    width: 100%;
    display: flex;
    padding:  8px;
    &:hover{
        cursor: pointer;
        background-color: #2d2f34;
    }
    .cardImg {
        width: 50%;
        height:100%;
        background-position: 100% 100%;
        img{
            width: 100%;
            height:100%;

            border-radius: 5px;

        }
    }
    .cardDesc {
        display:flex;
        align-items: center;
        padding-left:10px;
        width: 50%;
        span{
             font-size: 12px;
             line-height: 15px;
             font-weight: 400;
             margin-right: 10px;
             color:var(--text-color);
             height: 30px;
             overflow: hidden;
             display: -webkit-box;
             -webkit-box-orient: vertical;
             -webkit-line-clamp: 2;
        }
       
    }
}